.modal {
  position: fixed;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  padding: 10px 10px 20px 10px;
}

.modal h1{
  text-align: center;
}

.modal .btn-container {
  display: flex;
  justify-content: flex-end;
}

#close-modal {
  right: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

@media(max-width: 1200px) {
  .modal {
    width: 80%;
  }

  .poll-questions {
    margin: auto;
    width: 90%;
  }

  .poll-questions .question {
    width: 80%;
    margin: auto;
  }
}

@media(max-width: 1400px) {
  .modal {
    width: 80%;
  }
}

@media(max-width: 800px) {

  .modal .btn-container {
    display: flex;
    justify-content: center;
  }
}