.header {
  background-color: #e8833a;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  height: 60px;
  align-items: center;
}

.app-info {
  flex: 2;
  display: flex;
  align-items: center;
  margin: 15px;

}

.app-info img {
  margin: 10px;
}

.authenticated{
  flex: 5;
  display: flex;
  align-items: center
}

.authenticated .nav-container {
  flex: 3;
}

.navigation .nav-link {
  text-decoration:  none;
  margin-right: 20px;
}

.logout {
  flex: 2;
}

.btn {
  background-color: #5840e5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}