.header {
  background-color: #ff673d;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  height: 60px;
  align-items: center;
}

.app-info {
  flex: 2;
  display: flex;
  align-items: center;
  margin: 15px;

}

.app-info img {
  margin: 10px;
}

.navigation {
  flex: 2;
  justify-content: flex-start;
}

.navigation .nav-link {
  text-decoration:  none;
  margin-right: 20px;
}

.logout {
  flex: 1;
}

.btn {
  background-color: #5840e5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}