.login {
  background-color: var(--blue);
  height: 889px;
  margin: 0;
  padding: 50px;
}

.login-btn-container {
  background-color: #fff;
  width: 40%;
  height: 200px;
  margin: 200px auto;
  border-radius: 5px;
}

.login-btn-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--orange);
  font-size: 16px;
  margin: 70px auto;
  color: black;
}


@media(max-width: 800px) {
  .login-btn-container {
    width: 60%;
    margin: 100px auto;
  }
  
}

@media(max-width: 600px) {
  .login-btn-container {
    width: 80%;
    margin: 100px auto;
  }
  
}