.my-polls {
  background-color: var(--blue);
  margin: 0;
  min-height: 889px;
  margin-top: 0px;
  padding: 50px;
}

.my-polls .polls {
  background-color: #fff;
  margin: 50px auto;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.2);

}

.my-polls .polls .poll-infos {
  margin-bottom: 20px;
}

#create-new-poll-btn {
  display: block;
  margin-left: 20px;
}

@media(max-width: 1400px) {
  .my-polls .polls {
    margin: 20px auto;
    width: 90%;
    padding: 20px;
  }
}

@media(max-width: 600px) {
  .my-polls {
    padding: 10px 0px 0px 0px;
  }
  .my-polls .polls {
    width: 100%;
    padding: 5px;
  }
  #create-new-poll-btn {
    margin-bottom: 20px;
  }
}