.poll-info {
  background-color: var(--lightBlue);
  display: flex;
  padding: 5px 10px;
  align-items: center;
  margin:0px 20px 20px 20px;
  
}

.poll-info h2 {
  flex: 1;
}

.poll-info .date {
  flex: 1;
}

.poll-info .attandence {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.poll-info .attandence .icon{
  margin-left: 10px;
}

.poll-info .btn-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.poll-info .btn {
  background-color: #fff;
  color: var(--darkBlue);
  padding: 5px 15px;
  border: solid 2px var(--darkBlue);
  font-size: 16px;
}

.poll-info .btn-red {
  margin-left: 10px;
  background-color: rgb(233, 70, 70);
  color: #fff;
  padding: 7px 7px;
  border: none;
  font-size: 16px;
}

.poll-info .btn-red .icon {
  margin: auto;
}

@media(max-width: 900px) {
  .none-mobile {
    display: none;
  }

  #details-btn {
    padding: 5px 5px;
  }

  #details-btn .icon{
    margin: auto;
  }

  .poll-info {
    font-size: 14px;
  }
}