.input{
  padding: 10px;
  border-radius: 5px;
  width: 60%;
  font-size: 16px;
}

.poll-create {
  background-color: var(--blue);
  padding: 10px;
  min-height: 869px;
}

.poll {
  background-color: #fff;
  width: 65%;
  margin: 50px auto;
  padding: 10px 10px 100px 10px;
  border-radius: 5px;
}

#poll-name {
  display: block;
  margin: auto;
}

.poll-questions {
  display: block;
  margin: 10px 100px;
  padding: 10px;
}

.poll-questions .question {
  background-color: var(--lightBlue);
  display: block;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.poll-questions .question .question-input {
  width: 90%;
  margin-bottom: 20px;
}

.poll-questions .question input, .poll-questions .question button {
  display: block;
  margin: 10px;
}

.errors {
  margin: 0;
}

.errors .error {
  color: #fff;
  background-color: #eb3f3f;
  width: 40%;
  padding: 5px;
  border-radius: 4px;
  margin: auto;
}

.errors .error p {
  margin: 0;
}

#submit {
  margin-top: 10px;
  background-color: var(--green);
}

